body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #004983;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0; /* Ajusté à 0 pour coller l'en-tête en haut */
}


header img {
  margin-top: 0; /* Ajusté à 0 pour coller l'image en haut */
  max-width: 300px;
  height: auto;
}

header p {
  margin-top: 0; /* Ajusté à 0 pour coller le texte en haut */
  text-align: right;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

nav {
  background-color: #0067B8;
  padding: 10px;
  text-align: center;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

section {
  padding: 20px;
  width: 100%;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin-bottom: 0; /* Ajusté à 0 pour coller le pied de page en bas */
}


.login-box {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.login-input {
  margin: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.login-button {
  background-color: #004983;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
