body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  background-color: #004983;
  padding: 20px;
  display: flex;
  margin: 0 30%; /* Ajuster la marge gauche et droite pour espacer */
  justify-content:space-between;
  align-items: center;
  width: 100%; /* Ajuster la largeur de l'en-tête à 70% */
}

header img {
  max-width: 300px;
  height: auto;
  width: 70%;
}

header p {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

nav {
  background-color: #0067B8;
  padding: 10px;
  text-align: center;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 30px;
}

section {
  padding: 20px;
  width: 100%; /* Ajuster la largeur de la section à 70% */
  text-align: center;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%; /* Ajuster la largeur du pied de page à 70% */
  margin-top: auto;
  margin-bottom: 0;
}

.login-box {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.login-input {
  margin: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.login-button {
  background-color: #004983;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
