<!-- app/ServWeb/templates/login.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trigo - Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <header>
        <div class="header-content">
            <img src="{{ url_for('static', filename='image/logo.svg') }}" alt="Logo Trigo">
            <p>DATA CENTER APPLICATION</p>
        </div>
    </header>

    <section>
        <div class="login-box">
            <h3>Login</h3>
            <form action="{{ url_for('index') }}" method="post">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" class="login-input" required>

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" class="login-input" required>

                <button type="submit" class="login-button">Connexion</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Trigo. Tous droits réservés.</p>
    </footer>
</body>

</html>
