<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trigo - Accueil</title>

    <!-- Icône de favicon distinct -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <header>
        <!-- Ajout de l'image logo.png -->
        <img src="{{ url_for('static', filename='image/logo.svg') }}" alt="Logo Trigo">
        <p>DATA CENTER APPLICATION</p>
    </header>

    <nav>
        <a href="/">Accueil</a>
        <a href="/afficher_donnees">Mission</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </nav>

    <section>
        <h2>Bienvenue chez Trigo</h2>
        <p>Texte d'introduction sobre et accrocheur.</p>

        <!-- Boîte de connexion -->
        <div class="login-box">
            <h3>Login</h3>
            <form action="/login" method="post"> <!-- Changer l'URL de l'action au besoin -->
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" class="login-input" required>

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" class="login-input" required>

                <button type="submit" class="login-button">Connexion</button>
            </form>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Trigo. Tous droits réservés.</p>
    </footer>
</body>

</html>
